blinker==1.8.2
cached-property==1.5.2
chevron==0.14.0
click==8.1.7
docx==0.2.4
Flask==3.0.3
Flask-Cors==4.0.1
frozendict==2.4.4
genanki==0.13.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
packaging==24.1
pillow==10.4.0
python-docx==1.1.2
PyYAML==6.0.2
typing_extensions==4.12.2
Werkzeug==3.0.3
